.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left{
    height: 100%;
    display: flex;
    width: 30%;
}
.left img{
    width: 60%;
    height: 100%;
}
.right{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: end;
    margin-right: 8rem;
}
.lang,.sign-in{
    background-color: transparent;
    background-color: red;
    margin: .8rem 1rem;
    border-radius: 5px;
}
.lang p,.sign-in p{
    margin: 0 1rem;
  
}